/*
################################################################
################################################################
##################          Variables        ###################
################################################################
################################################################
*/
:root {
	/* 
  ################################################################
  ##################         COLORS Variables    #################
  ################################################################
    */
	--blue: #6a7b8b;
	--light: #f5f5f5;

	--gray: #bac1c8;
	--dark: #5c5b5b;
	--darker: #24252d;

	/*
  ################################################################
  ##################    Media Query Variables    #################
  ################################################################
  
  */
	--viewport-s: (min-width: 480px);
	--viewport-m: (min-width: 768px);
	--viewport-l: (min-width: 1024px);
	--viewport-xl: (min-width: 1280px);

	/*
  ################################################################
  ################################################################
  ##################        End  Variables       #################
  ################################################################
  ################################################################
    */
}
/*
################################################################
################################################################
##################       General            ####################
################################################################
################################################################
*/
html {
	scroll-behavior: smooth;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-track {
	background: var(--dark);
}
*::-webkit-scrollbar-thumb {
	background-color: var(--blue);
	border-radius: 10px;
}

/*
  ################################################################
  ################################################################
  ##################        Header       #########################
  ################################################################
  ################################################################
    */

/* header */
nav {
	background: var(--blue);
	position: relative;
}

center-heading {
	position: relative;
}
